################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Visual Studio 2008/CSActiveX/obj/Debug
/Visual Studio 2008/CSADONETDataServiceClient/obj/Debug
/Visual Studio 2008/CSApplicationHang/obj
/Visual Studio 2008/CSASPNETAjaxExtender/obj
/Visual Studio 2008/CSASPNETAjaxScriptControl/obj
/Visual Studio 2008/CSASPNETCustomHttpHandlerandModule/CustomHandlerandModuleProject/obj
/Visual Studio 2008/CSAutomatePowerPoint/obj
/Visual Studio 2008/CSAutomateVisio/obj
/Visual Studio 2008/CSAzureServiceBusSLRest/ServiceBus/obj/Debug
/Visual Studio 2008/CSAzureServiceBusWCFDS/CSAzureServiceBusWCFDS/obj
/Visual Studio 2008/CSAzureWCFWorkerRole/Client/obj/Debug
/Visual Studio 2008/CSAzureWCFWorkerRole/CSWorkerRoleHostingWCF/obj
/Visual Studio 2008/CSAzureWorkflowService35/WFServiceLibrary/obj/Debug
/Visual Studio 2008/CSBrowserHelperObject/obj
/Visual Studio 2008/CSCheckOSBitness/obj/Debug
/Visual Studio 2008/CSCodeDOM/obj
/Visual Studio 2008/CSCOMService/obj
/Visual Studio 2008/CSCpuUsage/obj/x86
/Visual Studio 2008/CSCreateLowIntegrityProcess/obj/Debug
/Visual Studio 2008/CSCustomAuthorization/obj
/Visual Studio 2008/CSCustomIEContextMenu/obj
/Visual Studio 2008/CSDigitalSignature/obj
/Visual Studio 2008/CSEFEntityDataModel/obj/Debug
/Visual Studio 2008/CSFTPUpload/obj/Release
/Visual Studio 2008/CSIEDownloadManager/CSIEDownloadManager/obj
/Visual Studio 2008/CSIIS7AdminMWA/obj
/Visual Studio 2008/CSIISAdminADSI/obj
/Visual Studio 2008/CSIISAdminWMI/obj
/Visual Studio 2008/CSLinqExtension/obj
/Visual Studio 2008/VBWin7Direct2D/obj
/Visual Studio 2008/VBWPFAnimatedImage/obj
/Visual Studio 2008/VBWPFAnimationWhenDataChanged/obj
/Visual Studio 2008/VBWPFAutoCompleteTextBox/obj
/Visual Studio 2008/VBWPFDataBinding/obj
/Visual Studio 2008/VBWPFMasterDetailBinding/obj
/Visual Studio 2008/VBWPFPaging/obj
/Visual Studio 2008/VBWPFThreading/obj
/Visual Studio 2008/VBWPFTwoLevelGrouping/obj
/Visual Studio 2010/Backup1
/Visual Studio 2010/CSASPNETAJAXHTMLEditorExtender/HTMLEditorExtender/obj
/Visual Studio 2010/.vs/CSASPNETBreadcrumbWithQueryString
/Visual Studio 2010/Backup
/Visual Studio 2010/CSASPNETAJAXImagePreviewExtender/ImagePreviewExtender/obj
/Visual Studio 2010/CSAzureXbap/XbapClient/obj
/Visual Studio 2010/CSBasics/obj/x86
/Visual Studio 2010/VBWPFMVVMPractice/obj
/Visual Studio 2010/VBWPFDataGridCustomSort/obj/x86
/Visual Studio 2010/VBWPFCascadeDataGridComboBoxColumns/obj
/Visual Studio 2010/VBWPF3DMultiTouch/obj/x86
/Visual Studio 2010/VBWinFormSaveWebpageToImage/obj
/Visual Studio 2010/VBWF4CustomSequenceActivity/obj/x86
/Visual Studio 2010/VBIEExplorerBar/obj
/Visual Studio 2010/VBExtractAudioFile/obj
/Visual Studio 2010/VBEnumerateAppDomains/obj
/Visual Studio 2008/CSLinqToDataSets/obj
/Visual Studio 2008/CSLinqToXml/obj
/Visual Studio 2008/CSOfficeSharedAddIn/obj
/Visual Studio 2008/CSWin7Direct2D/obj
/Visual Studio 2008/CSWPFAnimatedImage/obj
/Visual Studio 2008/CSWPFAutoCompleteTextBox/obj
/Visual Studio 2008/CSWPFDataBinding/obj
/Visual Studio 2008/CSWPFDragDrop/obj
/Visual Studio 2008/CSWPFMasterDetailBinding/obj
/Visual Studio 2008/CSWPFMVVMPractice/obj
/Visual Studio 2008/CSWPFNavigationUsage/obj
/Visual Studio 2008/CSWPFPaging/obj
/Visual Studio 2008/CSWPFThreading/obj
/Visual Studio 2008/CSWPFTwoLevelGrouping/obj
/Visual Studio 2008/VBCustomIEContextMenu/obj
/Visual Studio 2010/CSASPNETBreadcrumbWithQueryString/obj/Debug
/Visual Studio 2010/CSBrowserHelperObject/obj
/Visual Studio 2010/CSCheckEXEType/obj
/Visual Studio 2010/CSCheckProcessType/obj
/Visual Studio 2010/CSClassLibrary/obj
/Visual Studio 2010/CSCpuUsage/obj
/Visual Studio 2010/CSCreateMiniDump/CSApplicationToCrash/obj
/Visual Studio 2010/CSCreateMiniDump/CSCreateMiniDump/obj
/Visual Studio 2010/CSCustomCodeAnalysisRule/obj
/Visual Studio 2010/CSCustomIEContextMenu/obj
/Visual Studio 2010/CSDetectWindowsSessionState/obj
/Visual Studio 2010/CSDynamicallyBuildLambdaExpressionWithField/DynamicCondition/obj
/Visual Studio 2010/CSDynamicallyBuildLambdaExpressionWithField/obj
/Visual Studio 2010/CSDynamicsNAVWebServices/obj/x86
/Visual Studio 2010/CSDynamicsPowerShellAdmin/obj/x86
/Visual Studio 2010/CSAzureWorkflowService4/Client/obj/x86
/Visual Studio 2010/CSEFCodeOnly/obj/x86
/Visual Studio 2010/CSEFComplexType/obj/x86
/Visual Studio 2010/CSEFForeignKeyAssociation/obj/x86
/Visual Studio 2010/CSEFLazyLoading/obj/x86
/Visual Studio 2010/CSEFModelFirst/obj/x86
/Visual Studio 2010/CSEnumerateAppDomains/obj
/Visual Studio 2010/CSEnumStringConverter/obj
/Visual Studio 2010/CSExtractAudioFile/obj
/Visual Studio 2010/CSFTPDownload/obj
/Visual Studio 2010/CSFTPUpload/obj
/Visual Studio 2010/CSGDIPlusManipulateImage/obj
/Visual Studio 2010/CSHexStringByteArrayConverter/obj
/Visual Studio 2010/CSHighMemoryUsage/obj/x86
/Visual Studio 2010/CSIEDownloadManager/CSIEDownloadManager/obj
/Visual Studio 2010/CSIEExplorerBar/obj
/Visual Studio 2010/CSImageFullScreenSlideShow/obj
/Visual Studio 2010/CSMonitorRegistryChange/obj
/Visual Studio 2010/CSMultiThreadedWebDownloader/obj
/Visual Studio 2010/CSNET2ClassLibrary/obj
/Visual Studio 2010/CSOneNoteRibbonAddIn/obj
/Visual Studio 2010/CSPlatformDetector/obj/x86
/Visual Studio 2010/CSRegisterHotkey/obj
/Visual Studio 2010/CSRichTextBoxSyntaxHighlighting/obj
/Visual Studio 2010/CSRunProcessAsUser/obj
/Visual Studio 2010/CSSetPowerAvailabilityRequest/obj/x86
/Visual Studio 2010/CSSoftKeyboard/obj
/Visual Studio 2010/CSTabbedWebBrowser/obj
/Visual Studio 2010/CSTFSEventListener/obj
/Visual Studio 2010/CSTFSWorkItemLinkInfoDetails/obj/x86
/Visual Studio 2010/CSTiffImageConverter/obj
/Visual Studio 2010/CSTriggerStartWindowsService/obj/x86
/Visual Studio 2010/CSWebBrowserAutomation/obj
/Visual Studio 2010/CSWebBrowserLoadComplete/obj
/Visual Studio 2010/CSWebBrowserSuppressError/obj
/Visual Studio 2010/CSWebBrowserWithProxy/obj
/Visual Studio 2010/CSWebDownloader/obj
/Visual Studio 2010/CSWF4ActivitiesCorrelation/obj/x86
/Visual Studio 2010/CSWF4CustomSequenceActivity/obj/x86
/Visual Studio 2010/CSWF4FlowChart/obj
/Visual Studio 2010/CSWF4LongRunningHost/obj/x86
/Visual Studio 2010/CSWF4Parallel/obj/x86
/Visual Studio 2010/CSWF4SequenceWF/obj
/Visual Studio 2010/CSWPF3DMultiTouch/obj/x86
/Visual Studio 2010/CSWPFAnimatedGIF/obj/x86
/Visual Studio 2010/CSWPFCascadeDataGridComboBoxColumns/obj
/Visual Studio 2010/CSWPFDataGridCustomSort/obj/x86
/Visual Studio 2010/CSWPFListBoxValidation/obj/x86
/Visual Studio 2010/VBAzureServiceBusProtocolBridging/Client/obj/x86
/Visual Studio 2010/VBAzureServiceBusProtocolBridging/Common/obj
/Visual Studio 2010/VBAzureWorkflowService4/Client/obj/x86
/Visual Studio 2010/VBAzureXbap/XbapClient/obj
/Visual Studio 2010/VBBrowserHelperObject/obj
/Visual Studio 2010/VBCheckEXEType/obj
/Visual Studio 2010/VBCheckProcessType/obj
/Visual Studio 2010/VBCpuUsage/obj
/Visual Studio 2010/VBCreateMiniDump/VBApplicationToCrash/obj
/Visual Studio 2010/VBCreateMiniDump/VBCreateMiniDump/obj
/Visual Studio 2010/VBCustomIEContextMenu/obj
/Visual Studio 2010/VBDynamicallyBuildLambdaExpressionWithField/DynamicCondition/obj
/Visual Studio 2010/VBDynamicallyBuildLambdaExpressionWithField/obj
/Visual Studio 2010/VBWPFAnimatedGIF/obj/x86
/Visual Studio 2008/VBBrowserHelperObject/obj
/Visual Studio 2010/CSAzureServiceBusProtocolBridging/Client/obj/x86
/Visual Studio 2010/CSAzureServiceBusProtocolBridging/Common/obj
/Visual Studio 2010/CSAzureServiceBusProtocolBridging/RouterService/obj/x86
/Visual Studio 2010/CSAzureServiceBusProtocolBridging/Service/obj/x86
/Visual Studio 2010/CSAzureStartupTask/ReverseStringContract/obj
/Visual Studio 2010/CSAzureStartupTask/ReverseStringImpl/obj
/Visual Studio 2010/CSAzureStartupTask/WCFHost/obj
/Visual Studio 2010/CSEFPOCOChangeTracking/obj
/Visual Studio 2010/CSManipulateImagesInWordDocument/obj
/Visual Studio 2010/CSWinFormExAeroToClient/obj
/Visual Studio 2010/VBAzureWCFServices/VBAzureWCFServicesTestClient/VBAzureWCFServicesTestClient/obj/x86
/Visual Studio 2010/VBAzureWCFServices/VBAzureWCFServicesTestClient/WCFContract/obj
/Visual Studio 2010/VBAzureWCFServices/WCFContract/obj
/Visual Studio 2010/VBAzureWCFServices/WorkerRole1/obj
/Visual Studio 2010/VBAzureWebRoleBackendProcessing/Common/obj
/Visual Studio 2010/VBHexStringByteArrayConverter/obj
/Visual Studio 2010/VBIEDownloadManager/VBIEDownloadManager/obj
/Visual Studio 2010/VBGDIPlusManipulateImage/obj
/Visual Studio 2010/VBImageFullScreenSlideShow/obj
/Visual Studio 2010/VBManipulateImagesInWordDocument/obj
/Visual Studio 2010/VBMonitorRegistryChange/obj
/Visual Studio 2010/VBMultiThreadedWebDownloader/obj
/Visual Studio 2010/VBOneNoteRibbonAddIn/obj
/Visual Studio 2010/VBPlatformDetector/obj/x86
/Visual Studio 2010/VBRegisterHotkey/obj
/Visual Studio 2010/VBRichTextBoxSyntaxHighlighting/obj
/Visual Studio 2010/VBRunProcessAsUser/obj
/Visual Studio 2010/VBSL4WCFNetTcp/NetTcpWCFService/obj/x86
/Visual Studio 2010/VBSoftKeyboard/obj
/Visual Studio 2010/VBTabbedWebBrowser/obj
/Visual Studio 2010/VBTFSEventListener/obj
/Visual Studio 2010/VBTFSWorkItemLinkInfoDetails/obj/x86
/Visual Studio 2010/VBTiffImageConverter/obj/x86
/Visual Studio 2010/VBTriggerStartWindowsService/obj/x86
/Visual Studio 2010/VBWebBrowserAutomation/obj
/Visual Studio 2010/VBWebBrowserLoadComplete/obj
/Visual Studio 2010/VBWebBrowserSuppressError/obj
/Visual Studio 2010/VBWebBrowserWithProxy/obj
/Visual Studio 2010/VBWebDownloader/obj
/Visual Studio 2010/VBWinFormExAeroToClient/obj
/Visual Studio 2010/VBWF4ActivitiesCorrelation/obj/x86
/Visual Studio 2010/VBFTPUpload/obj
/Visual Studio 2010/VBEnumStringConverter/obj/x86
/Visual Studio 2010/VBEFPOCOChangeTracking/obj
/Visual Studio 2010/VBAzureManagementAPI/obj/x86
/Visual Studio 2010/VBAzureServiceBusProtocolBridging/RouterService/obj/x86
/Visual Studio 2010/VBAzureServiceBusProtocolBridging/Service/obj/x86
/Visual Studio 2010/VBAzureWebRoleBackendProcessing/Processor/obj/x86
/Visual Studio 2010/VBAzureWorkflow4ServiceBus/Client/obj/x86
/Visual Studio 2010/VBCustomCodeAnalysisRule/obj
/Visual Studio 2010/VBDetectWindowsSessionState/obj
/Visual Studio 2010/VBEFCodeOnly/obj/x86
/Visual Studio 2010/VBEFComplexType/obj/x86
/Visual Studio 2010/VBEFForeignKeyAssociation/obj/x86
/Visual Studio 2010/VBEFLazyLoading/obj/x86
/Visual Studio 2010/VBEFModelFirst/obj/x86
/Visual Studio 2010/VBFTPDownload/obj
/Visual Studio 2008/VBLinqToEntities/obj
/Visual Studio 2008/VBAzureWorkflowService35/WFServiceLibrary/obj
/Visual Studio 2008/CSUseADO/obj
/Visual Studio 2008/CSMonitorRegistryChange/obj/Debug
/Visual Studio 2008/CSMultiThreadedWebDownloader/obj/x86/Release
/Visual Studio 2008/CSPowerShell/obj/Debug
/Visual Studio 2008/CSRemotingClient/obj
/Visual Studio 2008/CSRemotingServer/obj/Debug
/Visual Studio 2008/CSServicedComponent/obj
/Visual Studio 2008/CSShellCommonFileDialog/obj/Debug
/Visual Studio 2008/CSShellKnownFolders/obj/Debug
/Visual Studio 2008/CSSocketClient/obj/Debug
/Visual Studio 2008/CSTFSCustomWorkItemControl/obj/Debug
/Visual Studio 2008/CSTFSDataWarehouseAdapter/obj/Release
/Visual Studio 2008/CSTFSWorkItemObjectModel/obj
/Visual Studio 2008/CSUseADONET/obj/Debug
/Visual Studio 2008/CSVSAddInCommandBarUI/obj
/Visual Studio 2008/CSVSAddInCommandEvents/obj
/Visual Studio 2008/CSVSAddInToolboxItem/obj
/Visual Studio 2008/CSVSAutomationOutsideIDE/obj
/Visual Studio 2008/CSVstoServerDocument/obj
/Visual Studio 2008/CSWebBrowserAutomation/obj/x86/Debug
/Visual Studio 2008/CSWebBrowserSuppressError/obj/Debug
/Visual Studio 2008/CSWebBrowserWithProxy/obj/x86/Release
/Visual Studio 2008/CSWFLocalService/obj/Debug
/Visual Studio 2008/CSWin7ShellLibrary/obj
/Visual Studio 2008/CSWin7TaskbarAppID/obj/Debug
/Visual Studio 2008/CSWin7TaskbarOverlayIcons/obj/Debug
/Visual Studio 2008/CSWin7TaskbarThumbnail/obj/Release
/Visual Studio 2008/CSWin7TriggerStartService/obj/Debug
/Visual Studio 2008/CSWindowsService/obj
/Visual Studio 2008/CSWinFormBindingNestedProperties/obj
/Visual Studio 2008/CSWinFormDesigner/obj
/Visual Studio 2008/CSWinFormSingleInstanceApp/obj/Debug
/Visual Studio 2008/CSWinFormSplashScreen/obj/Debug
/Visual Studio 2008/CSWPFCascadeDataGridComboBoxColumns/obj
/Visual Studio 2008/CSXmlDigitalSignature/obj/Release
/Visual Studio 2008/VBADONETDataServiceClient/obj
/Visual Studio 2008/VBASPNETAjaxExtender/obj/Debug
/Visual Studio 2008/VBAutomateVisio/obj
/Visual Studio 2008/VBAzureServiceBusSLRest/ServiceBus/obj
/Visual Studio 2008/VBAzureServiceBusWCFDS/VBAzureServiceBusWCFDS/obj/Debug
/Visual Studio 2008/VBAzureWCFWorkerRole/WorkerRole1/obj
/Visual Studio 2008/VBCheckOSBitness/obj/Release
/Visual Studio 2008/VBCheckOSVersion/obj/Debug
/Visual Studio 2008/VBCodeDOM/obj/Debug
/Visual Studio 2008/VBCpuUsage/obj
/Visual Studio 2008/VBCreateLowIntegrityProcess/obj/Release
/Visual Studio 2008/VBEFEntityDataModel/obj/Debug
/Visual Studio 2008/VBFTPUpload/obj
/Visual Studio 2008/VBIEDownloadManager/VBIEDownloadManager/obj/x64/Debug
/Visual Studio 2008/VBIISAdminADSI/obj
/Visual Studio 2008/VBIISAdminWMI/obj/Debug
/Visual Studio 2008/VBLinqToDataSets/obj/Release
/Visual Studio 2008/VBLinqToSQL/obj/Debug
/Visual Studio 2008/VBOffendUAC/obj/Debug
/Visual Studio 2008/VBPowerShell/obj/Debug
/Visual Studio 2008/VBRemotingClient/obj/Debug
/Visual Studio 2008/VBRemotingServer/obj
/Visual Studio 2008/VBServicedComponent/obj/Debug
/Visual Studio 2008/VBUseADO/obj
/Visual Studio 2008/VBWPFCascadeDataGridComboBoxColumns/obj
*.user
/Visual Studio 2010/CSASPNETFileUploadStatus/FileUploadStatus/obj
/Visual Studio 2010/CSASPNETShareSessionBetweenSubDomains/CSASPNETShareSessionBetweenSubDomainsModule/obj
/Visual Studio 2010/CSAzureBingMaps/DAL/obj
/Visual Studio 2010/CSAzureBingMaps/UnitTest/obj
/Visual Studio 2010/CSAzureManagementAPI/obj/x86
/Visual Studio 2010/CSAzureWCFServices/WorkerRole1/obj
/Visual Studio 2010/CSAzureWebRoleBackendProcessing/Common/obj
/Visual Studio 2010/CSAzureWebRoleBackendProcessing/Processor/obj/x86
/Visual Studio 2010/CSAzureWorkflow4ServiceBus/Client/obj/x86
/Visual Studio 2010/CSWinFormSaveWebpageToImage/obj
/Visual Studio 2010/VBASPNETAJAXHTMLEditorExtender/HTMLEditorExtender/obj
/Visual Studio 2010/VBASPNETFileUploadStatus/FileUploadStatus/obj
/Visual Studio 2010/VBASPNETShareSessionBetweenSubDomains/VBASPNETShareSessionBetweenSubDomainsModule/obj
/Visual Studio 2010/VBAzureBingMaps/DAL/obj
/Visual Studio 2010/VBAzureBingMaps/UnitTest/obj
/Visual Studio 2010/VBWF4FlowChart/obj/x86
/Visual Studio 2010/VBWF4Parallel/obj/x86
/Visual Studio 2010/VBWF4SequenceWF/obj/x86
/Visual Studio 2010/UpgradeLog2.htm
/Visual Studio 2010/UpgradeLog.htm
/Visual Studio 2010/.vs
/Visual Studio 2010/Debug
